.main{
	text-align:center;
	font-size:80%;
	font-family: "Arial", Helvetica, sans-serif;
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
}

.report{
	text-align:center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 14px
}

.box{
    display: inline-block;
    background-color: #ffffff;
    border: 2.5px solid #000000;
    opacity: 0.7;
    color:#000000;
    padding: 10px;
    border-radius: 5px;
}

